In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movie_bd_v5.csv')

In [3]:
movies.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [5]:
# Вопрос 1. У какого фильма из списка самый большой бюджет?
movies[movies['budget'] == movies['budget'].max()][['original_title','budget']]

                                  original_title     budget
723  Pirates of the Caribbean: On Stranger Tides  380000000

In [6]:
# Вопрос 2. Какой из фильмов самый длительный (в минутах)?
movies.query('runtime == runtime.max()')[['original_title','runtime']]

         original_title  runtime
1157  Gods and Generals      214

In [7]:
# Вопрос 3. Какой из фильмов самый короткий (в минутах)?
movies[movies['runtime'] == movies['runtime'].min()][['original_title','runtime']]

      original_title  runtime
768  Winnie the Pooh       63

In [8]:
# Вопрос 4. Какова средняя длительность фильмов?
movies.runtime.mean()

109.6585494970884

In [9]:
# Вопрос 5. Каково медианное значение длительности фильмов?
movies.runtime.median()

107.0

In [10]:
# Вопрос 6. Какой фильм самый прибыльный?
movies['profit'] =  movies['revenue'] - movies['budget'] # Добавляем новый столбец profit - Прибыль
movies[movies['profit'] == movies['profit'].max()][['original_title','profit']]

    original_title      profit
239         Avatar  2544505847

In [11]:
# Вопрос 7. Какой фильм самый убыточный?
movies[movies['profit'] == movies['profit'].min()][['original_title','profit']]

       original_title     profit
1245  The Lone Ranger -165710090

In [12]:
# Вопрос 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?
len(movies[movies['profit'] > 0])

1478

In [13]:
# Вопрос 9. Какой фильм оказался самым кассовым в 2008 году?
movies_2008 = movies[movies['release_year'] == 2008] # выборка по 2008 году
movies_2008[movies_2008['revenue'] == movies['revenue'].max()][['original_title','revenue']]

Empty DataFrame
Columns: [original_title, revenue]
Index: []

In [14]:
# Вопрос 10. Самый убыточный фильм за период с 2012 по 2014 годы (включительно)?
movies12_14 = movies[(movies['release_year'] >= 2012) & (movies['release_year'] <= 2014)] # выборка по периоду 12-14
movies12_14[movies12_14['profit'] == movies12_14['profit'].min()][['original_title','profit']]

       original_title     profit
1245  The Lone Ranger -165710090

In [15]:
# Вопрос 11. Какого жанра фильмов больше всего?
genres = movies.genres.sum().split('|') # суммируем все жанры в 1 строку, превращаем в список путем деления по символу |
pd.Series(genres).value_counts().head() # создаем из списка объект Series и делаем подсчет

Drama        254
Comedy       195
Adventure    190
Thriller     167
Action       148
dtype: int64

In [16]:
# Вопрос 12. Фильмы какого жанра чаще всего становятся прибыльными?
genres_plus = movies[movies['profit'] > 0].genres.sum().split('|') # аналогично 11 заданию, только с доп. фильтром
pd.Series(genres_plus).value_counts().head()

Drama        183
Comedy       155
Adventure    150
Thriller     121
Action       117
dtype: int64

In [40]:
# Вопрос 13. У какого режиссёра самые большие суммарные кассовые сборы?
movies.groupby(['director']).sum().sort_values(['revenue'],ascending=False).head(1)

,budget,revenue,runtime,vote_average,release_year,profit,release_month
director,,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685,95

In [42]:
# Вопрос 14. Какой режиссер снял больше всего фильмов в стиле Action?
action = movies[movies.genres.str.contains("Action")] # выборка по фильмам в стиле Action
directors = action.director.str.split('|').sum() # выборка по режиссёрам, с предварительным разделением по символу |
pd.Series(directors).value_counts().head()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
dtype: int64

In [43]:
# Вопрос 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?
movies['actors'] = movies.cast.str.split('|') # создаем столбец с актёрами, с делением по символу |
movies_2012 = movies[movies['release_year'] == 2012] # выборка по 2012 году
movies_2012.explode('actors').groupby(['actors'])['revenue'].sum().sort_values(ascending=False).head()

actors
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

In [44]:
# Вопрос 16. Какой актер снялся в большем количестве высокобюджетных фильмов? 
# Примечание: в фильмах, где бюджет выше среднего по данной выборке.
high_budget = movies.query('budget > budget.mean()') # выборка высокобюджетных фильмов
high_budget.explode('actors').actors.value_counts().head()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
Name: actors, dtype: int64

In [47]:
# Вопрос 17. В фильмах какого жанра больше всего снимался Nicolas Cage?
cage = movies[movies.cast.str.contains("Nicolas Cage")].genres.sum().split('|') # выборка фильмов, где снимался Nicolas Cage
pd.Series(cage).value_counts().head()

Action       7
Drama        6
Adventure    4
Crime        4
Fantasy      4
dtype: int64

In [48]:
# Вопрос 18. Самый убыточный фильм от Paramount Pictures?
PP = movies[movies.production_companies.str.contains('Paramount Pictures')] # выборка фильмов от Paramount Pictures
PP.query('profit == profit.min()')[['original_title','profit']]

           original_title    profit
925  K-19: The Widowmaker -64831034

In [23]:
# Вопрос 19. Какой год стал самым успешным по суммарным кассовым сборам?
movies.groupby(['release_year'])['revenue'].sum().sort_values().tail(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [24]:
# Вопрос 20. Какой самый прибыльный год для студии Warner Bros?
WB = movies[movies.production_companies.str.contains('Warner Bros')] # выборка фильмов от Warner Bros
WB.groupby(['release_year'])['profit'].sum().sort_values().tail(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [25]:
# Вопрос 21. В каком месяце за все годы суммарно вышло больше всего фильмов?
movies['release_date'] = pd.to_datetime(movies['release_date'])
movies['release_month'] = movies['release_date'].map(lambda date: date.month)
movies.release_month.value_counts().head(1)

9    227
Name: release_month, dtype: int64

In [26]:
# Вопрос 22. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?
movies.query('release_month == 6 or release_month == 7 or release_month == 8').release_month.count()

450

In [50]:
# Вопрос 23. Для какого режиссера зима — самое продуктивное время года?
winter = movies.query('release_month == 12 or release_month == 1 or release_month == 2')
winter.director.value_counts().head()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Martin Scorsese      4
Shawn Levy           4
Name: director, dtype: int64

In [28]:
# Вопрос 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?
movies['studios'] = movies.production_companies.str.split('|')
long_title = movies.explode('studios').groupby(['studios']).agg(films_count=('original_title','count'), sum_title=('original_title','sum'))
long_title['len_title'] = long_title.sum_title.apply(lambda x: len(x))
long_title['len_means'] = long_title['len_title'] / long_title['films_count']
long_title.len_means.sort_values().tail(1)

studios
Four By Two Productions    83.0
Name: len_means, dtype: float64

In [49]:
# Вопрос 25. Описания фильмов какой студии в среднем самые длинные по количеству слов?
long_overview = movies.explode('studios').groupby(['studios']).agg(films_count=('overview','count'), sum_overview=('overview','sum'))
long_overview['len_overview'] = long_overview.sum_overview.apply(lambda x: len(x))
long_overview['len_means'] = long_overview['len_overview'] / long_overview['films_count']
long_overview.len_means.sort_values().tail()

studios
Crest Animation Productions          909.0
Lions Gate Family Entertainment      909.0
Brookwell-McNamara Entertainment     936.0
Room 9 Entertainment                 964.0
Midnight Picture Show               1000.0
Name: len_means, dtype: float64

In [30]:
# Вопрос 26. Какие фильмы входят в один процент лучших по рейтингу?
movies.sort_values('vote_average').tail(18)['original_title'] # 1% это 1889/100= 18 фильмов с самым высоким рейтингом

155                          The Theory of Everything
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
283                                        Mr. Nobody
1191                                 12 Years a Slave
872                                       The Pianist
128                                         Gone Girl
1800                                          Memento
119                           Guardians of the Galaxy
370                                         Inception
1183                          The Wolf of Wall Street
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
34                                               Room
118                                      Interstellar
9                                          Inside Out
125                                The Imitation Game
599                                   The Dark Knight
Name: original_title, dtype: object

In [51]:
# Вопрос 27. Какие актеры чаще всего снимаются в одном фильме вместе?
from itertools import combinations
mov_acts_comb = [] 
for cast in movies.cast.str.split('|'):
    mov_acts_comb.extend(list(combinations(cast, 2)))
pd.Series(mov_acts_comb).value_counts().head()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
dtype: int64